*,
*::before,
*::after {
  box-sizing: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* to have all fonts at the same height */
}
